@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root CSS Variables for Themes */
:root {
  --background-color: #ffffff;
  --text-color: rgb(10, 10, 13);
  --button-bg-color: #f9f9f9;
  --button-text-color: #000;
}

body {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  padding-bottom: 10px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* Dark Theme Variables */
body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-bg-color: #333333;
  --button-text-color: #ffffff;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}